*{
    background-color: rgb(218, 216, 216);
    font-family: 'Ubuntu';
}
img{
    height: 25rem;
    width: 30rem;
}
/* .container{
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin-left: 20rem;
} */
.NAV{
    display: flex;
    justify-content: space-around;
}
.units{
    display: flex;
    justify-content: space-around;
}
.units li {
    padding: 2rem;
    list-style: none;
    background-color: rgb(172, 172, 172);
    cursor: pointer;
}
.success{
    padding-top: 3rem ;
    font-size: xx-large;
    color: rgb(46, 45, 45);
    font-style: italic;
    font-family: vanity;
}
.ai{
    border-radius: 5px 0px 0px 5px;
}
.calculus{
    border-left: 1px solid black;
}
.electronics{
    border-left: 1px solid black;
}
.data{
    border-left: 1px solid black;
    border-radius: 0px 5px 5px 0px;
}
