*{
    background-color: rgb(218, 216, 216);
    font-family: 'Ubuntu';
}
/* body{
    height: 100vh;
    padding: 0rem;
    margin: 0rem;
} */
.NAV{
    display: flex;
    justify-content: space-around;
}
.units{
    display: flex;
    justify-content: space-around;
}
.units li {
    padding: 2rem;
    list-style: none;
    background-color: rgb(172, 172, 172);
    cursor: pointer;
}
.success{
    padding-top: 3rem ;
    font-size: xx-large;
    color: rgb(46, 45, 45);
    font-style: italic;
    font-family: vanity;
}
.ai{
    border-radius: 5px 0px 0px 5px;
}
.calculus{
    border-left: 1px solid black;
}
.electronics{
    border-left: 1px solid black;
}
.data{
    border-left: 1px solid black;
    border-radius: 0px 5px 5px 0px;
}
.imagecontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.exams{
    background-image: url(/Assets/images/ai.jpg) no-repeat;
    height: 30rem;
    width: 30rem;
}

img{
    margin-top: 5rem;
    height: 30rem;
    width: 30rem;
}
.message{
    font-size: xx-large;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.share{
    margin-bottom: 1rem;
}
li{
    list-style: none;
}
.comment-button{
    background-color: rgb(165, 164, 164);
    padding: 0.5rem 1rem ;
    border: 1px solid gray;
    border-radius: 5px 0px 5px 0px;
    margin-left: 2rem;
}
.comment-input{
    border: 1px solid gray;
    padding: 0.5rem 1rem;
    margin-left: 2.5rem;
    cursor: auto;
}
.like-button{
    border: 1px solid grey;
    border-radius: 10px ;
}
.footer{
    text-align: center;
    padding: 1rem;
    background-color: rgb(158, 157, 157);
    /* margin-bottom: 0rem;
    margin-top: 5rem; */
    
}